### Django ###
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Entorno Virtual
venv/
.env
.venv
env/
ENV/
env.bak/
venv.bak/

# Archivos de configuración de Python
__pycache__/
*.py[cod]
*.so

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db
