{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">Acerca de Nosotros</h1>
        <p class="lead">Bienvenido a OnlyFlans, la mejor plataforma para los amantes de los flanes. Aquí encontrarás recetas, consejos y una comunidad dedicada a compartir la pasión por este delicioso postre.</p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <h2 class="mb-3">Nuestra Historia</h2>
        <p>OnlyFlans nació del amor por los flanes y la necesidad de tener un lugar dedicado exclusivamente a este postre. Desde nuestros humildes comienzos, hemos crecido para incluir miles de recetas y una comunidad vibrante de entusiastas del flan.</p>
    </div>
    <div class="col-12 col-md-6">
        <h2 class="mb-3">Nuestro Equipo</h2>
        <p>Contamos con un equipo de expertos reposteros y aficionados al flan que trabajan incansablemente para traerte las mejores recetas y consejos. Nos enorgullece nuestra dedicación a la calidad y la creatividad en todo lo que hacemos.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2 class="mb-3">Únete a Nosotros</h2>
        <p>Si compartes nuestra pasión por los flanes, únete a nuestra comunidad. Comparte tus recetas, participa en nuestras discusiones y disfruta de todo lo que OnlyFlans tiene para ofrecer.</p>
        
    </div>
</div>
{% endblock %}
    
