{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<!-- Encabezado de bienvenida -->
<div class="alert alert-dark" role="alert">
    <h4 class="alert-heading">¡Bienvenido, {{ user.username }}!</h4>
    <p>Estamos felices de tenerte aquí. Explora nuestros deliciosos flanes.</p>
</div>
<div class="row">
    {% for flan in flanes %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ flan.name }}</h5>
                    <p class="card-text">{{ flan.description }}</p>
                    <a href="{% url 'flan_detail' flan.slug %}" class="btn btn-dark">Ver Detalles</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}